<div class="container mt-4">

  <h1>COKE TEL</h1>
  <% @cocktails.each do |cocktail| %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <p class="card-text">cocktail description</p>
        <p class="card-text"><small class="text-muted">excellent</small></p>
      </div>
      <img src="https://source.unsplash.com/1600x900/?<% cocktail.name %>" class="card-img-top" alt="cocktail-img">
    </div>

  <% end %>

  <%= link_to 'New coke tel', new_cocktail_path, class: 'btn btn-info' %>
</div>
