<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-lg">
  <div>
    <%= link_to image_tag('CocktailLOGO.png', size: "75"), cocktails_path %>
    <%= link_to 'New coke tel', new_cocktail_path, class: 'btn btn-info align-left ml-3' %>
  </div>
  <h1 class="text-center">Coke Tel</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
  </div>
</div>
